//
// Modules -> Accordion
// --------------------------------------------------

.accordion {
  &__item {
    background: white;
    border: 1px solid #DAEFFB;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    //transition: all .5s !important;
    &:hover {
      background: $base-color-lighten;
    }
    &.active {
      background: $base-color-lighten;
      .accordion-head {
        &:after {
          opacity: 0;
        }
        &:before {
          opacity: 1;
        }
      }
    }
    &--sm {
      padding-bottom: 10px;
      .accordion-head {
        font-size: 14px;
        padding-bottom: 0;
        @media screen and (min-width: $screen-md-min) {
          display: flex;
        }
        &:before,
        &:after {
          top: 33px;
          bottom: auto;
        }
        .date {
          font-weight: 400;
          font-size: 12px;
          @media screen and (min-width: $screen-md-min) {
            width: 120px;
          }
        }
      }
      .accordion-body {
        padding-bottom: 30px;
        max-height: 0;
        overflow: hidden;
        display: block;
        transition: max-height .5s;
        &.shown {
          max-height: 1000px;
        }
        > div {
          position: relative;
          padding: 10px 20px 0;
          @media screen and (min-width: $screen-md-min) {
            padding: 10px 80px 0 150px;
          }
          @media screen and (min-width: $screen-xl-min) {
            padding: 10px 150px 0;
          }
          &:after {
            //content: '...';
            position: absolute;
            top: 0; right: 0;
            height: 1em;
            font-size: 16px;
            line-height: 1.1;
            color: $black-darken;
            padding: 0 .2em;
            background-color: white;
            opacity: 0;
            transition: opacity 0s 0s;
            @media screen and (min-width: $screen-lg-min) {
              height: 1.5em;
            }
          }
        }
        &:not(.ellipses) {
          > div {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        &:not(.shown) {
          > div {
            &:after {
              opacity: 1;
              transition: opacity .1s .3s;
            }
          }
        }
      }
    }
  }
  &-head {
    font-size: 18px;
    font-weight: bold;
    position: relative;
    width: 100%;
    padding: 16px 50px 16px 20px;
    @media screen and (min-width: $screen-md-min) {
      padding: 26px 50px 26px 30px;
    }
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 1;
      background: url("../images/icons/plus.svg") no-repeat center;
      transition: opacity .5s;
      @media screen and (min-width: $screen-md-min) {
        right: 30px;
      }
    }
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
      background: url("../images/icons/minus.svg") no-repeat center;
      transition: opacity .5s;
      @media screen and (min-width: $screen-md-min) {
        right: 30px;
      }
    }
  }
  &-body {
    display: none;
    div {
      padding: 10px 20px 30px;
      @media screen and (min-width: $screen-md-min) {
        padding: 10px 80px 30px 150px;
      }
      @media screen and (min-width: $screen-xl-min) {
        padding: 10px 150px 30px;
      }
    }
  }
}
