//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 20px;
      font-size: 18px;
      justify-content: flex-end;
    }
    img {
      vertical-align: middle;
    }

    &__item {
      margin-left: 20px;
      & + & {
        &:before {
          content: "";
          margin-right: 20px;
          display: inline-block;
          vertical-align: middle;
          height: 5px;
          width: 5px;
          background: url("../images/icons/dot.svg");
          color: $breadcrumb-color;
          @media screen and (min-width: $screen-md-min) {
            margin-left: 20px;
          }
        }
      }

      &.active {
        order: -1;
        display: flex;
        margin-left: 0;
        align-items: center;
        color: $breadcrumb-active-color;
        @media screen and (min-width: $screen-md-min) {
          order: 0;
        }
      }
    }
    &__link {
      color: $black;
      display: block;
      text-decoration: none;
    }
  }
}
