//
// Modules -> Breadcrumbs
// --------------------------------------------------

.breadcrumbs-wrapper {
  display: flex;
  align-items: flex-start;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  width: calc(100% + 20px);
  
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar{
    display: none;
  }

  @media (min-width: $screen-lg-min) {
    justify-content: flex-end;
  }
}

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: 0;
    padding-right: 20px;
    flex-shrink: 0;
    margin-top: 40px;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    flex-direction: row-reverse;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: flex-end;
    @media screen and (min-width: $screen-lg-min) {
      justify-content: flex-end;
      flex-direction: row;
      margin-bottom: 40px;
    }
    @media screen and (min-width: $screen-xl-min) {
      font-size: 18px;
    }
    img {
      vertical-align: middle;
    }

    &__item {
      display: flex;
      align-items: center;
      &:before {
        content: "";
        pointer-events: none;
        margin-right: 20px;
        margin-left: 20px;
        display: inline-block;
        vertical-align: middle;
        height: 5px;
        width: 5px;
        background: url("../images/icons/dot.svg");
        color: $breadcrumb-color;
      }
      &:first-child:before {
        @media screen and (min-width: $screen-lg-min) {
          display: none;
        }
      }
      &:last-child:before {
        display: none;
        @media screen and (min-width: $screen-lg-min) {
          display: block;
        }
      }

      &.active {
        min-width: 20px;
        display: flex;
        margin-left: 0;
        align-items: center;
        color: $breadcrumb-active-color;
      }
    }
    &__link {
      color: $black;
      display: block;
      text-decoration: none;
      transition: color .5s;
      path {
        transition: fill .5s;
      }
      &:hover {
        color: $color-type-2a;
        path {
          fill: $color-type-2a;
        }
      }
    }
  }
}
