.filter {
    display: flex;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
    width: 100%;
    margin-bottom: 20px;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (min-width: $screen-md-min) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: $screen-md-min) {
        margin-bottom: 60px;
    }

    li {
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: $base-color-lighten;
        border-radius: 10px;
        padding: 10px 16px;
        margin-right: 10px;
        transition: all .5s;
        cursor: pointer;

        @media screen and (min-width: $screen-md-min) {
            font-size: 18px;
            border-radius: 20px;
            font-weight: bold;
            padding: 20px;
        }

        @media screen and (min-width: $screen-xl-min) {
            padding: 27px 20px;
            width: 90px;
        }

        &:hover,
        &.active {
            background: $color-type-1a;
            color: white;
        }

        &.last {
            width: 100%;
            margin-right: 0;
            margin-left: auto;
            background: $gray;
            height: 50px;

            &.hidden__xs {
                display: none;

                @media screen and (min-width: $screen-md-min) {
                    display: inline-flex;
                }
            }

            @media screen and (min-width: $screen-md-min) {
                margin-top: 0;
                height: auto;
                width: 290px;
            }

            img {
                margin-right: 10px;
            }

            &:hover {
                background: $color-type-1a;
                color: white;
            }
        }
    }
}