.main-menu {
  $menu: &;

  margin-bottom: 20px;

  font-weight: bold;
  font-size: 30px;
  line-height: 1;

  @media (min-width: 1680px) {
    margin-bottom: 30px;
  }

  &__item {
    &:not(:first-child) {
      margin-top: 10px;

      @media (min-width: 1680px) {
        margin-top: 15px;
      }
    }

    &--active {
      &>#{$menu}__link {
        @extend #{$menu}__link:hover;
      }
    }
  }

  &__link {
    font-weight: bold;
    font-size: 26px;
    line-height: 100%;
    color: $base-color-light;
    text-decoration: none;

    @media (min-width: 1680px) {
      font-size: 30px;
    }

    &:hover {
      color: $color-type-2a;
    }
  }
}

.main-nav {
  $nav: &;

  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;
    display: block;

    font-weight: bold;

    &--active {
      &>#{$nav}__link {
        @extend #{$nav}__link:hover;
      }
    }
  }

  &__link {
    position: relative;
    padding: (10px / 2) 0;
    display: block;

    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    @media (min-width: 1680px) {
      padding: (15px / 2) 0;

      font-size: 18px;
      line-height: 22px;
    }

    text-decoration: none;
    color: $base-color-light;

    &:hover {
      color: $color-type-2a;
    }
  }

  img {
    max-width: none;
  }
}