//
// Modules -> Navs
// --------------------------------------------------

.main-menu {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
  line-height: 1;
  li {
    margin-top: 15px;
  }
  a {
    color: $base-color-light;
    text-decoration: none;
    &:hover {
      color: $color-type-2a;
    }
  }
}

.main-nav {
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;
    display: block;
    font-weight: bold;
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    color: $base-color-light;
    &:hover {
      color: $color-type-2a;
    }
  }
  img {
    max-width: none;
  }
}
