//
// Modules -> Navs
// --------------------------------------------------

.main-menu {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 40px;
  line-height: 1;
  li {
    margin-top: 15px;
  }
  a {
    color: $base-color-light;
    text-decoration: none;
    &:hover {
      color: $color-type-2a;
    }
  }
}

.main-nav {
  margin-bottom: 20px;
  padding-left: 0;
  list-style: none;

  &__item {
    position: relative;
    display: block;
    font-weight: bold;
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: block;
    color: $base-color-light;
    &:hover {
      color: $color-type-2a;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      float: right;
      padding: 9px 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 30px;
        height: 2px;
        background: #000;
        border-radius: 1px;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      @media screen and (min-width: $screen-adaptive-nav) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
      @include clearfix;
      -webkit-overflow-scrolling: touch;
      clear: left;
      display: none;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}
