.tab-nav {
    margin-left: -20px;
    width: calc(100% + (20px * 2));
    display: flex;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (min-width: $screen-xl-min) {
        margin-left: -40px;
        width: calc(100% + (40px * 2));
    }

    &--sticky {
        opacity: 0;
        visibility: hidden;
    }

    $tab-nav: &;

    &--alt {
        #{$tab-nav}__list {
            justify-content: flex-start;
        }

        #{$tab-nav}__item {
            &:not(:first-child) {
                @media (min-width: $screen-xl-min) {
                    margin-left: 40px;
                }
            }
        }
    }

    &--content-fit {
        #{$tab-nav}__wrapper {
            min-width: auto;
        }
    }

    
    &__wrapper {
        padding: 0 20px;
        min-width: 100%;
        flex-shrink: 0;

        @media screen and (min-width: $screen-xl-min) {
            padding: 0 40px;
        }
    }


    &__list {
        display: flex;
        
        margin: 0;
        padding: 0 20px;
        align-items: flex-end;
        background: #FFFFFF;
        border: 1px solid #F1EFD6;
        border-radius: 10px;

        @media screen and (min-width: $screen-xl-min) {
            padding: 0 40px;
            justify-content: space-between;
            border-radius: 20px;
        }
    }


    &__item {
        position: relative;

        &:hover {

            
            .tab-nav__link {
                color: $color-type-2a;
            }
        }

        &::before {
            opacity: 0;
            position: absolute;
            bottom: -1px;
            left: 0;
            right: 0;
            content: "";
            display: block;
            height: 4px;
            background-color: #EF747A;            ;
            border-radius: 2px;
        }

        &:not(:first-child) {
            margin-left: 20px;
        }

        &--active {
            
            &::before {
                opacity: 1;
            }


            .tab-nav__link {
                color: #EF747A;
            }
        }

        @media screen and (min-width: $screen-xl-min) {

            &:not(:first-child) {
                margin-left: 15px;
            }
        }
    }


    &__link {
        padding: 15px 0;
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        white-space: nowrap;

        @media screen and (min-width: $screen-xl-min) {
            padding: 20px 0;
            font-size: 18px;
            line-height: 22px;
        }
    }
}
