.page-excursion {

  &__list {

    @media (min-width: $screen-md-min) {
      display: flex;
    }
  }

  &__list-item {

    &:not(:first-child) {
      margin-top: 40px;
    }

    @media (min-width: $screen-md-min) {

      &:not(:first-child) {
        margin-top: 0;
      }
    }

    @mixin col($count, $gap, $pad-top) {
      width: calc((100% - #{$gap * ($count - 1)}) / #{$count});

      &:nth-child(even) {
        padding-top: $pad-top;
      }

      &:not(:first-child) {
        margin-left: $gap;
      }
    }

    @media (min-width: $screen-md-min) {
      @include col(4, 20px, 30px);
    }

    @media (min-width: $screen-lg-min) {
      @include col(4, 40px, 80px);
    }
  }

  &__list-title {
    margin: 0;
    display: flex;
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;

    @media (min-width: $screen-lg-min) {
      font-size: 50px;
      line-height: 110%;
    }
  }

  &__list-image {
    display: flex;
  }

  &__list-img {
    width: 80%;

    @media (min-width: $screen-lg-min) {
      width: 100%;
    }
  }

  &__list-text {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    line-height: 140%;

    @media (min-width: $screen-lg-min) {
      margin-top: 10px;
    }
  }


  &__card {}


  .page-store__top {

    &::before {
      background-image: url("../images/world/top-transition.svg"), url("../images/animation/slide-2.png"), url("../images/world/top-background.svg");
    }
  }
}
