.page-interesting {
  $image-switch-breakpoint: 1150px;

  .mainTitle {
    margin-bottom: 30px;
  }
  .aside {
    margin: 80px auto 0;
    
    @media screen and (min-width: $image-switch-breakpoint) {
      margin: 0 0 0 40px;
    }
  }

  .sign-block {
    margin: 0;
  }

  .sameBlock {
    margin-top: 70px !important;
  }

  .interests {
    & > .img--desktop--hidden {
      display: block;

      @media (min-width: $image-switch-breakpoint) {
        display: none;
      }
    }
  }

  .img-block {
    display: none;

    @media (min-width: $image-switch-breakpoint) {
      display: block;
    }
  }

  .img__wrap {
    margin: 40px 0;
    display: flex;

    @media (min-width: $screen-md-min) {
      margin-top: 60px;
    }
  }

  .img__container {
    display: flex;
    align-items: flex-start;
    overflow: hidden;

    border-radius: 20px;

    @media (min-width: $screen-xl-min) {
      border-radius: 40px;
    }

    & > .img {
      margin: 0;
    }

    img {
      display: block;
    }
  }

  &__frame {
    display: flex;
  }

  &__frame-image {
    display: flex;
    align-items: flex-start;
    overflow: hidden;

    border-radius: 20px;
  }

  &__frame-img {
    display: block;
  }
}
