// MISSION: page

.page-mission {


    &__mainTitle {
        margin-bottom: 43px;

        @media screen and (min-width: 1150px) {
            margin-bottom: 53px;
        }
    }


    // common

    &__block {
        @mixin margin-top($value) {
            margin-top: $value;

            @media screen and (min-width: 1150px) {
                margin-top: $value * 2;
            }
        }

        $margin-top: 40px;
        
        @include margin-top($margin-top);

        &--large {
            @include margin-top($margin-top * 2);
        }
    }

    &__title {
        margin: 0;
        font-weight: bold;
        font-size: 22px;
        line-height: 130%;

        @media screen and (min-width: 1150px) {
            font-size: 30px;
        }

        &--large {

            @media screen and (min-width: 1150px) {
                font-size: 50px;
                line-height: 110%;
            }
        }
    }


    &__mission {

        @media screen and (min-width: 1150px) {
            display: flex;
        }
    }

    &__mission-title {

        @media screen and (min-width: 1150px) {
            flex-grow: 1;
            max-width: 150px;
        }
    }

    &__mission-info {
        margin: 0;
        margin-top: 10px;
        font-size: 16px;
        line-height: 140%;

        @media screen and (min-width: 1150px) {
            margin-top: 0;
            margin-left: 76px;
            width: 80%;
            max-width: 942px;
            font-size: 22px;
            line-height: 130%;
        }
    }

    &__mission-highlight {
        position: relative;
        font-weight: bold;
        white-space: nowrap;

        $offset-x: 2px;

        &::before {
            position: absolute;
            z-index: -1;
            top: 1px;
            bottom: 0;
            left: -$offset-x;
            content: '';
            display: block;
            width: 0;
            background-color: lightgreen; // test
            border-radius: 7px;
            transition: width .5s .6s;
        }

        &--color--blue {

            &::before {
                background-color: #5DCBEE;
            }
        }

        &--color--beige {

            &::before {
                background-color: #F1EFD6;
            }
        }

        &--active {

            &::before {
                width: calc(100% + (#{$offset-x} * 2));
            }
        }
    }


    // VALUE: list

    &__value-list {
        margin-top: 20px;

        @media screen and (min-width: 1150px) {
            margin-top: 60px;
        }
    }

    // VALUE: item

    &__value-item {
        padding: 20px;
        background: #FFFFFF;
        border: 1px solid #F1EFD6;
        border-radius: 20px;

        &:not(:first-child) {
            margin-top: 10px;
        }

        @media screen and (min-width: $screen-md-min) {
            padding-right: 40px;
            display: flex;
        }

        @media screen and (min-width: 1150px) {
            padding: 40px 60px;
            border-radius: 40px;

            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }

    // VALUE: image

    &__value-image {
        max-width: 90px;
        flex-shrink: 0;
        align-self: flex-start;
        display: flex;

        @media screen and (min-width: 1150px) {
            max-width: 140px;
        }
    }

    &__value-img {
        max-width: 100%;
        max-height: 100%;
    }

    // VALUE: info

    &__value-info {
        margin-top: 16px;

        @media screen and (min-width: $screen-md-min) {
            margin-top: 0;
            margin-left: 70px;
        }

        // @media screen and (min-width: 1150px) {
        @media screen and (min-width: 1580px) {
            margin-left: 100px;
            flex-grow: 1;
            display: flex;
        }
    }

    &__value-title {
        margin: 0;
        font-weight: bold;
        font-size: 16px;
        line-height: 140%;

        @media screen and (min-width: 1150px) {
            font-size: 22px;
            line-height: 130%;
        }

        @media screen and (min-width: 1580px) {
            width: 33%;
            max-width: 288px;
        }
    }

    &__value-text {
        margin: 0;
        margin-top: 10px;
        max-width: 540px;
        font-size: 14px;
        line-height: 140%;

        @media screen and (min-width: 1150px) {
            font-size: 16px;
        }

        @media screen and (min-width: 1580px) {
            margin-top: 0;
            margin-left: 40px;
        }
    }
}
