.page-news {
  margin-bottom: 80px;
  @media screen and (min-width: $screen-lg-min) {
    margin-bottom: 160px;
  }
  .mainTitle {
    margin-bottom: 30px;
  }
  .aside {
    margin-top: 50px;
    @media screen and (min-width: $screen-xl-min) {
      margin-top: 0;
    }
  }

  
  // MAIN-TITLE

  &__mainTitle {
    margin-bottom: 40px !important;

    @media screen and (min-width: $screen-xl-min) {
      margin-bottom: 60px !important;
    }
  }
}
.page-interesting,
.page-news {
  .sameBlock {
    margin-top: 50px;
    @media screen and (min-width: $screen-md-min) {
      margin-top: 80px;
    }
    @media screen and (min-width: 1150px) {
      margin-top: 160px;
    }
  }
}
