.page-recipes {
  .block-aside > .page-recipes__aside {
    margin: 80px auto 0;

    @media (min-width: $screen-md-min) and (max-width: #{1150 - 1}px) {
      width: 100%;
    }

    @media screen and (min-width: 1150px) {
      margin: 0 0 0 40px;
    }
  }

  .catalog__item {

    .img {
      margin-bottom: 20px;
      display: flex;
      align-items: flex-start;

      &__image {
        position: relative;
      }

      img {
        vertical-align: middle;
      }

      span {
        top: 15px;
        right: 15px;
        height: 80px;
        width: 80px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        line-height: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: url("../images/icons/cloud.svg") no-repeat center;

        small {
          font-size: 12px;
          display: block;
        }
      }
    }
  }

  .catalog-desc {
    margin-bottom: 10px;
  }

  .catalog-tag {
    display: inline;
    font-size: 12px;
    padding: 3px 10px;
    font-weight: bold;
    border: 1px solid #F1EFD6;
    border-radius: 40px;
  }

  .catalogFilter {
    @media screen and (min-width: $screen-lg-min) {
      margin-left: -20px;
      width: calc(100% + 40px);
    }

    &__item {
      @media screen and (min-width: $screen-lg-min) {
        width: 25%;
      }
    }
  }

  .block-aside {
    margin-bottom: 80px;

    @media screen and (min-width: $screen-md-min) {
      margin-bottom: 160px;
    }
  }
}
