.security {


  // TOP

  &__top {}

  &__top-content {
    margin-top: 40px;

    @media (min-width: $screen-lg-min) {
      margin-top: 80px;
    }
  }


  // BLOCK

  &__block {

    &:not(:first-child) {
      margin-top: 80px;

      @media (min-width: $screen-lg-min) {
        margin-top: 160px;
      }
    }
  }

  &__block-content {

    @media (min-width: $screen-lg-min) {
      padding-left: 260px;
    }
  }


  // TITLE

  &__title {

    &--top-1 {

      @media (min-width: $screen-lg-min) {
        max-width: 625px;
      }
    }

    &--top-2 {

      @media (min-width: $screen-md-min) {
        max-width: 335px;
      }

      @media (min-width: $screen-lg-min) {
        max-width: 552px;
      }
    }
  }


  // FEATURE

  &__feature {
    max-width: 230px;
    display: flex;
    flex-direction: column;

    background-image: url("../images/production/security/feature-bg.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
  }

  &__feature-title {
    margin: 0;
    font-weight: bold;
    font-size: 22px;
    line-height: 130%;

    @media (min-width: $screen-lg-min) {
      font-size: 50px;
      line-height: 110%;
    }
  }

  &__feature-text {
    margin: 0;
    margin-top: 5px;
    font-size: 14px;
    line-height: 140%;

    @media (min-width: $screen-lg-min) {
      margin-top: 20px;
    }
  }
}