.page-store {


  &__frame {
    display: flex;

    &--centered {
      justify-content: center;
    }
  }

  &__frame-image {
    display: flex;
    align-items: flex-start;
    border-radius: 20px;
    overflow: hidden;

    @media (min-width: $screen-lg-min) {
      border-radius: 40px;
    }
  }

  &__frame-img {
    display: block;

    @each $prop in max-width,
    max-height {
      #{$prop}: 100%;
    }

    &--factory {
      
      @media (min-width: $screen-xl-min) {
        max-width: 240px;
      }
  
      @media (min-width: 1680px) {
        max-width: none;
      }
    }
  }


  &__row {

    @media (min-width: $screen-md-min) {
      display: flex;
    }

    &--alt {
      display: block;

      @media (min-width: $screen-lg-min) {
        display: flex;
      }


      .page-store__row-col {
        width: 100%;

        &:not(:first-child) {
          margin: 0;
          margin-top: 20px;
        }

        @media (min-width: $screen-md-min) {

          &:not(:first-child) {
            margin-top: 40px;
          }
        }

        @media (min-width: $screen-lg-min) {
          width: calc((100% - 40px) / 2);

          &:not(:first-child) {
            margin-top: 0;
            margin-left: 40px;
          }
        }
      }
    }
  }

  &__row-col {
    width: 100%;

    &:not(:first-child) {
      margin-top: 20px;
    }

    @media (min-width: $screen-md-min) {
      width: calc((100% - 20px) / 2);

      &:not(:first-child) {
        margin-top: 0;
        margin-left: 20px;
      }
    }

    @media (min-width: $screen-lg-min) {
      width: calc((100% - 40px) / 2);

      &:not(:first-child) {
        margin-left: 40px;
      }
    }
  }


  &__card {
    padding: 30px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $base-color-lighten;
    background-image: url("../images/world/store/phone-1.png");
    background-repeat: no-repeat;
    background-size: 190px auto;
    background-position: right -60px bottom 10px;
    border-radius: 20px;

    @media (min-width: $screen-md-min) {
      min-height: 290px;
      background-position: right -35px bottom 60px;
    }

    @media (min-width: $screen-lg-min) {
      padding: 30px 40px;
      min-height: 360px;
      // background-position: right -375px bottom -145px;
      // background-size: auto auto;
      border-radius: 40px;
    }

    @media (min-width: $screen-xl-min) {
      background-position: right -5px bottom 0px;
      background-size: 300px auto;
    }

    &--alt {
      background-color: #FFF0EB;
      background-image: url("../images/world/store/phone-2.png");
    }
  }

  &__card-text {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 140%;

    @media (min-width: $screen-lg-min) {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  &__card-buttons {
    margin-top: auto;
  }

  &__card-button {
    margin-top: 20px;
    padding: 0 20px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;
    transition: 0.5s;

    @media (min-width: $screen-lg-min) {
      margin-top: 50px;
      padding: 0 30px;
      font-size: 18px;
    }

    &:hover {
      color: #EF747A;
    }
  }

  &__btn {
    margin-top: 10px;
    height: 50px;

    @media (min-width: $screen-lg-min) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }


  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;

    @media (min-width: $screen-lg-min) {
      font-size: 30px;
      line-height: 130%;
    }

    &--block--text {

      @media (min-width: $screen-xl-min) {
        max-width: 490px;
      }

      @media (min-width: 1680px) {
        max-width: 560px;
      }
    }

    &--block--text-image {

      @media (min-width: $screen-md-min) {
        max-width: 335px;
      }

      @media (min-width: $screen-lg-min) {
        max-width: 470px;
      }
    }

    &--block--top {
      max-width: 335px;

      @media (min-width: $screen-lg-min) {
        max-width: 515px;
      }
    }
  }


  &__line-break {

    &--hide--desktop {

      @media (min-width: $screen-lg-min) {
        display: none;
      }
    }
  }


  &__block {
    margin-top: 80px;

    @media (min-width: $screen-lg-min) {
      margin-top: 160px;
    }

    &--cards {
      margin-top: 30px;

      @media (min-width: $screen-lg-min) {
        margin-top: 120px;
      }

      @media (min-width: $screen-xl-min) {
        margin-top: 160px;
      }
    }

    &--small {
      margin-top: 40px;

      @media (min-width: $screen-lg-min) {
        margin-top: 80px;
      }
    }

    &--bottom {
      position: relative;

      &::before {
        position: absolute;
        z-index: -1;
        top: -140px;
        left: -360px;
        right: -20px;
        content: "";
        display: block;
        min-height: 1000px;
        background-image: url("../images/background-1.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;
        pointer-events: none;

        @media (min-width: $screen-lg-min) {
          right: -40px;
        }

        @media (min-width: 1320px) {
          top: -200px;
        }

        @media (min-width: 1500px) {
          top: -230px;
        }
      }
    }

    &--top {
      position: relative;
      margin-top: 40px;

      &::before {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: -360px;
        right: -40px;
        content: "";
        display: block;
        min-height: 1000px;
        background-image: url("../images/world/top-transition.svg"),
          url("../images/world/top-image-1.png"),
          url("../images/world/top-background.svg");
        background-position: bottom,
          bottom,
          bottom;
        background-repeat: no-repeat,
          no-repeat,
          no-repeat;
        background-size: 100% 20%,
          100% 50%,
          100% 100%;
      }

      @media (min-width: $screen-lg-min) {
        margin-top: 80px;
      }
    }

    &--z-index--m1 {
      z-index: -1;
    }

    &--front {
      position: relative;
      z-index: 100;
    }
  }


  &__left-container {
    overflow: visible;
  }


  &__top {
    position: relative;
    z-index: -1;
    margin-top: 40px;
    padding-bottom: 375px;

    &::before {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: -20px;
      right: -20px;
      content: "";
      display: block;
      height: calc(100% + 400px);
      background-image: url("../images/world/top-transition.svg"), url("../images/world/top-image-1.png"), url("../images/world/top-background.png");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: center bottom, right -93px bottom 0px, center bottom;
      background-size: 768px auto, 460px auto, cover;
      pointer-events: none;

      @media (min-width: $screen-md-min) {
        height: calc(100% + 500px);
        background-position: center bottom, right -85px bottom -10px, center bottom;
        background-size: 1024px auto, 460px auto, cover;
      }

      @media (min-width: $screen-lg-min) {
        right: -40px;
        background-position: center bottom, right -100px bottom -10px, center bottom;
        background-size: 1366px auto, 620px auto, cover;
      }

      @media (min-width: $screen-lgx-min) {
        left: -360px;
      }

      @media (min-width: $screen-xl-min) {
        background-position: center bottom, right -215px bottom -80px, center bottom;
        background-size: 1680px auto, 870px auto, cover;
      }

      @media (min-width: 1680px) {
        background-position: center bottom, right -250px bottom -70px, center bottom;
        background-size: 1920px auto, 995px auto, cover;
      }
    }

    @media (min-width: $screen-md-min) {
      padding-bottom: 100px;
    }

    @media (min-width: $screen-lg-min) {
      margin-top: 80px;
      padding-bottom: 210px;
    }
  }

  &__top-text {
    margin: 0;
    margin-top: 20px;
    max-width: 335px;
    font-size: 14px;
    line-height: 140%;

    @media (min-width: $screen-lg-min) {
      margin-top: 40px;
      max-width: 490px;
      font-size: 18px;
    }
  }


  &__breadcrumbs-item {

    &::before {
      background: white;
      border-radius: 50%;
    }
  }
}
