.page-store {


  &__frame {
    display: flex;

    &--centered {
      justify-content: center;
    }
  }

  &__frame-image {
    display: flex;
    border-radius: 20px;
    overflow: hidden;

    @media (min-width: $screen-lg-min) {
      border-radius: 40px;
    }
  }

  &__frame-img {

    @each $prop in max-width,
    max-height {
      #{$prop}: 100%;
    }

    object-fit: contain;
  }


  &__row {

    @media (min-width: $screen-md-min) {
      display: flex;
    }

    &--alt {
      display: block;

      @media (min-width: $screen-lg-min) {
        display: flex;
      }


      .page-store__row-col {
        width: 100%;

        &:not(:first-child) {
          margin: 0;
          margin-top: 20px;
        }

        @media (min-width: $screen-md-min) {

          &:not(:first-child) {
            margin-top: 40px;
          }
        }

        @media (min-width: $screen-lg-min) {
          width: calc((100% - 40px) / 2);

          &:not(:first-child) {
            margin-top: 0;
            margin-left: 40px;
          }
        }
      }
    }
  }

  &__row-col {
    width: 100%;

    &:not(:first-child) {
      margin-top: 20px;
    }

    @media (min-width: $screen-md-min) {
      width: calc((100% - 20px) / 2);

      &:not(:first-child) {
        margin-top: 0;
        margin-left: 20px;
      }
    }

    @media (min-width: $screen-lg-min) {
      width: calc((100% - 40px) / 2);

      &:not(:first-child) {
        margin-left: 40px;
      }
    }
  }


  &__card {
    padding: 30px 20px 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #EBFAFF;
    background-image: url("../images/world/store/phone-1.png");
    background-repeat: no-repeat;
    background-size: 390px auto;
    background-position: right -240px bottom -90px;
    border-radius: 20px;

    @media (min-width: $screen-md-min) {
      min-height: 290px;
      background-position: right -220px bottom -45px;
    }

    @media (min-width: $screen-lg-min) {
      padding: 30px 40px;
      min-height: 360px;
      background-position: right -375px bottom -145px;
      background-size: auto auto;
      border-radius: 40px;
    }

    @media (min-width: 1680px) {
      background-position: right -250px bottom -125px;
    }

    &--alt {
      background-color: #FFF0EB;
      background-image: url("../images/world/store/phone-2.png");
    }
  }

  &__card-text {
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    line-height: 140%;

    @media (min-width: $screen-lg-min) {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  &__card-buttons {
    margin-top: auto;
  }

  &__card-button {
    margin-top: 20px;
    padding: 0 20px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    text-decoration: none;

    @media (min-width: $screen-lg-min) {
      margin-top: 50px;
      padding: 0 30px;
      font-size: 18px;
    }
  }

  &__btn {
    margin-top: 10px;
    height: 50px;

    @media (min-width: $screen-lg-min) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }


  &__title {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 140%;

    @media (min-width: $screen-lg-min) {
      font-size: 30px;
      line-height: 130%;
    }

    &--block--text {

      @media (min-width: $screen-xl-min) {
        max-width: 490px;
      }

      @media (min-width: 1680px) {
        max-width: 560px;
      }
    }

    &--block--text-image {

      @media (min-width: $screen-md-min) {
        max-width: 335px;
      }

      @media (min-width: $screen-lg-min) {
        max-width: 470px;
      }
    }

    &--block--top {
      max-width: 335px;

      @media (min-width: $screen-lg-min) {
        max-width: 515px;
      }
    }
  }


  &__line-break {

    &--hide--desktop {

      @media (min-width: $screen-lg-min) {
        display: none;
      }
    }
  }


  &__block {
    margin-top: 80px;

    @media (min-width: $screen-lg-min) {
      margin-top: 160px;
    }

    &--cards {
      margin-top: 30px;

      @media (min-width: $screen-lg-min) {
        margin-top: 120px;
      }

      @media (min-width: $screen-xl-min) {
        margin-top: 160px;
      }
    }

    &--bottom {
      position: relative;

      &::before {
        position: absolute;
        z-index: -1;
        top: -140px;
        left: -360px;
        right: -40px;
        content: "";
        display: block;
        min-height: 1000px;
        background-image: url("../images/background-1.svg");
        background-repeat: no-repeat;
        background-size: 100% auto;

        @media (min-width: 1320px) {
          top: -200px;
        }

        @media (min-width: 1500px) {
          top: -230px;
        }
      }
    }

    &--top {
      position: relative;
      margin-top: 40px;

      &::before {
        position: absolute;
        z-index: -1;
        bottom: 0;
        left: -360px;
        right: -40px;
        content: "";
        display: block;
        min-height: 1000px;
        background-image: url("../images/world/top-transition.svg"),
          url("../images/world/top-image-1.png"),
          url("../images/world/top-background.svg");
        background-position: bottom,
          bottom,
          bottom;
        background-repeat: no-repeat,
          no-repeat,
          no-repeat;
        background-size: 100% 20%,
          100% 50%,
          100% 100%;
      }

      @media (min-width: $screen-lg-min) {
        margin-top: 80px;
      }
    }
  }


  &__left-container {
    overflow: visible;
  }


  &__top {
    margin-top: 40px;
    padding-bottom: 375px;
    position: relative;

    &::before {
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: -20px;
      right: -20px;
      content: "";
      display: block;
      height: calc(100% + 350px);
      background-color: black;
      background-image: url("../images/world/top-transition.svg"), url("../images/world/top-image-1.png"), url("../images/world/top-background.svg");
      background-repeat: no-repeat, no-repeat, no-repeat;
      background-position: center bottom -600px, right -90px bottom -20px, center bottom;
      background-size: 100% auto, 460px auto, cover;

      @media (min-width: $screen-md-min) {
        height: calc(100% + 430px);
      }

      @media (min-width: $screen-lg-min) {
        left: -340px;
        right: -40px;
        height: calc(100% + 430px);
      }

      @media (min-width: 0) {
        background-position: center bottom -140px, right -90px bottom -20px, center bottom;
      }

      @for $breakpoint from 8 through 1 {
        @media (min-width: #{768px - ((768px - 375px) / 8 * $breakpoint)}) {
          background-position: center bottom #{(-910px + 17px * 32) + (25px * $breakpoint)},
          right -90px bottom -20px,
          center bottom;
        }
      }

      @for $breakpoint from 8 through 1 {
        @media (min-width: #{1024px - ((1024px - 768px) / 8 * $breakpoint)}) {
          background-position: center bottom #{(-910px + 17px * 24) + (17px * $breakpoint)},
          right -90px bottom -20px,
          center bottom;
        }
      }

      @for $breakpoint from 8 through 1 {
        @media (min-width: #{1366px - ((1366px - 1024px) / 8 * $breakpoint)}) {
          background-position: center bottom #{(-910px + 17px * 16) + (17px * $breakpoint)},
          right -90px bottom -20px,
          center bottom;
        }
      }

      @for $breakpoint from 8 through 1 {
        @media (min-width: #{1680px - ((1680px - 1366px) / 8 * $breakpoint)}) {
          background-position: center bottom #{(-940px + 17px * 8) + (17px * $breakpoint)},
          right -220px bottom -40px,
          center bottom;
        }
      }

      @for $breakpoint from 8 through 1 {
        @media (min-width: #{1920 - ((1920px - 1680px) / 8 * $breakpoint)}) {
          background-position: center bottom #{-940px + (17px * $breakpoint)},
          right -250px bottom -110px,
          center bottom;
        }
      }

      @media (min-width: $screen-xl-min) {
        left: -360px;
        background-size: 100% auto, 865px auto, cover;
      }

      @media (min-width: 1680px) {
        background-size: 100% auto, 995px auto, cover;
      }
    }

    @media (min-width: $screen-md-min) {
      padding-bottom: 100px;
    }

    @media (min-width: $screen-lg-min) {
      margin-top: 80px;
      padding-bottom: 210px;
    }


  }

  &__top-text {
    margin: 0;
    margin-top: 20px;
    max-width: 335px;
    font-size: 14px;
    line-height: 140%;

    @media (min-width: $screen-lg-min) {
      margin-top: 40px;
      max-width: 490px;
      font-size: 18px;
    }
  }


  &__breadcrumbs-item {

    &::before {
      background: white;
      border-radius: 50%;
    }
  }
}
