//
// Partials -> Aside
// ------------------------------------

.aside {
  .control {
    height: 50px;
    border-color: $color-type-3a;
  }
}

@mixin asideBlock {
  background: white;
  border: 1px solid $gray;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;

  h5,
  h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
}

.contacts-block {
  @include asideBlock();
}

.sign-block {
  @include asideBlock();
  position: relative;
  background: $gray;
}

.img-block {
  margin-bottom: 10px;
  img {
    border-radius: 20px;
  }
}

.form-response {
  position: absolute;
  background: $gray;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  overflow: hidden;
  //height: 0;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s;
  .inner {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &.shown {
    opacity: 1;
    //height: 100%;
  }
  &.activated {
    z-index: 11;
  }
}

.form-send {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @media screen and (min-width: $screen-md-min) {
    justify-content: space-between;
  }
  .form__group {
    margin-left: auto;
  }
  h3 {
    padding-top: 40px;
    @media screen and (min-width: $screen-md-min) {
      padding-top: 0;
    }
  }
}
