//
// Partials -> Aside
// ------------------------------------

.aside {
  .control {
    height: 50px;
    border-color: $color-type-3a;
    
    &--textarea {
      height: 100px;
    }
  }
}

@mixin asideBlock {
  background: white;
  border: 1px solid $gray;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;

  h5,
  h4 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
}

.contacts-block {
  @include asideBlock();
  border-color: #F1EFD6;
}

.sign-block {
  @include asideBlock();
  position: relative;
  background: $gray;
}

.img-block {
  margin-bottom: 10px;
  img {
    border-radius: 20px;
  }
}

.form-response {
  position: absolute;
  background: $gray;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  overflow: hidden;
  //height: 0;
  height: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity .5s;
  .inner {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &.shown {
    opacity: 1;
    //height: 100%;
  }
  &.activated {
    z-index: 11;
  }
}

// форма "связаться с нами"
// блок
.form-connect {
  margin-top: -11px;
  position: relative;
  z-index: 0;
}
// форма ввода
.form-inner {}
// форма ответа
.form-send {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @media screen and (min-width: $screen-lg-min) {
    $padding-horizontal: 15px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: $padding-horizontal;
    right: $padding-horizontal;
    justify-content: space-between;
  }

  h3 {
    margin-bottom: 40px !important;
    max-width: 335px;

    @media screen and (min-width: $screen-lg-min) {
      max-width: 571px;
    }
  }

  .form__group {
    margin: 0;
    margin-left: auto;
    width: 100%;
    max-width: 354px;

    @media screen and (min-width: $screen-lg-min) {
      max-width: 318px;
    }
  }
}
