extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.page-contacts
    .left-container
      +title('Контакты', ['Контакты'])
      .contacts
        .row
          .col.col__md-6.col__xs-12
            .contacts-card(data-aos='fade-up')
              h3 Москва
              .contacts-card__item
                .contacts-card__item-ico
                  i.icon-phone
                .contacts-card__item-desc
                  a.desc(href='tel:84957974535') 8 495 797-45-35
                  .sub Пнд — Пт, 9:00 — 18:00
              .contacts-card__item
                .contacts-card__item-ico
                  i.icon-message
                .contacts-card__item-desc
                  a.desc(href='mailto:mail@icecream-chl.ru') mail@icecream-chl.ru
              .contacts-card__item
                .contacts-card__item-ico
                  i.icon-location
                .contacts-card__item-desc
                  .long 190000, г. Долгопрудный, ул. Виноградная, 9, стр. В
                    a(href='#', target="_blank") Смотреть на карте
          .col.col__md-6.col__xs-12
            .contacts-card.contacts-card--info(data-aos='fade-up')
              h3 Санкт-Петербург
              .contacts-card__item
                .contacts-card__item-ico
                  i.icon-phone
                .contacts-card__item-desc
                  a.desc(href='tel:88123133350') 8 812 313-33-50
                  .sub Пнд — Пт, 9:00 — 18:00
              .contacts-card__item
                .contacts-card__item-ico
                  i.icon-message
                .contacts-card__item-desc
                  a.desc(href='mailto:mail@icecream-chl.ru') mail@icecream-chl.ru
              .contacts-card__item
                .contacts-card__item-ico
                  i.icon-location
                .contacts-card__item-desc
                  .long 193168, ул. Подвойского, 13, к. 2, пом. 27Н
                    a(href='#', target="_blank") Смотреть на карте
        .row.between__xs
          .col.col__xl-4.col__lg-6.col__xs-12.contacts-dist(data-aos='fade-up')
            h3 Дистрибьютерам
            p Для каждого дистрибьютера мы разрабатываем индвидуальную программу и подход. Чтобы узнать об условиях работы с нами можете #[a(href='#') скачать презентацию], #[a(href='#') задать вопрос на почту] или через форму обратной связи.
            .mt-auto.visible__lg.visible__xl
              h3 Мы в социальных сетях
              include ../components/social
          .col.col__lg-6.col__xs-12(data-aos='fade-up')
            .form-inner
              h3 Связаться с нами
              form.contacts-form(action='', method='POST')
                .contacts-form__col
                  .form__group: +fieldInput('text', 'name', 'name', '', 'Имя', true)
                  .form__group: +fieldInput('email', 'email', 'email', '', 'E-mail', true)
                  .form__group: +fieldInput('text', 'phone', 'phone', '', 'Телефон', true)
                .contacts-form__col
                  .form__group: +fieldTextarea('question', 'Ваш вопрос или пожелание', '8', true)
                .contacts-form__col.margtop10
                  .control-body.checkbox
                    input(type="checkbox", id='sign', required)
                    label(for='sign') Согласен на обработку персональных #[br] данных в соответствии с #[a(href='#') политикой #[br] конфиденциальности]
                    .control-error
                .contacts-form__col.margtop10
                  button.btn.btn--primary.btn--full.form--js(type='submit'): span Отправить
            .form-send
              h3 Спасибо, мы получили ваше обращение и в ближайшее время свяжемся с вами.
              .form__group.form-back--js(data-aos='fade-up'): button.btn.btn--primary.btn--full: span Отправить еще
        .contacts-social.hidden__lg.hidden__xl(data-aos='fade-up')
          h3 Мы в социальных сетях
          include ../components/social


block footer
  include ../partials/_footer.pug
