extends ../layouts/masterMain.pug

block header
  include ../partials/_header.pug

block content
  main.page-main
    .fullpage-block
      .fullpage-slider.swiper-container(
        data-image-pagination='["assets/images/pagin-1.png", "assets/images/pagin-2.png", "assets/images/pagin-3.png"]'
      )
        .fullpage-desc
          | Только #[span &nbsp;натуральное&nbsp;] #[br] #[span &nbsp;мороженое&nbsp;] может быть #[br] #[span &nbsp;вкусным&nbsp;]
        .fullpage-title
          h2 Классический пломбир #[br] в лучших традициях!
        .swiper-wrapper
          .swiper-slide(data-title="Классический пломбир #[br] в лучших традициях!")
            .image-pack(data-aos='fade-up', data-aos-delay='300')
              img(src='assets/images/slider/slide-1-1.png')
              img.first(src='assets/images/slider/slide-1-2.png')
              img.third(src='assets/images/slider/slide-1-4.png')
              img.second(src='assets/images/slider/slide-1-3.png')
          .swiper-slide(data-title="Радуга — ярко–вкусное #[br] мороженое")
            .image-pack(data-aos='fade-up', data-aos-delay='300')
              img(src='assets/images/slider/slide-2-1.png')
              img.first.first--add(src='assets/images/slider/slide-2-2.png')
              img.second.second--add(src='assets/images/slider/slide-2-3.png')
              img.third.third--add(src='assets/images/slider/slide-2-4.png')
          .swiper-slide(data-title="Снаружи кактус, #[br] внутри пломбир #[br] с джемом")
            .image-pack(data-aos='fade-up', data-aos-delay='300')
              img(src='assets/images/slider/slide-3-1.png')
              img.first.first--sec(src='assets/images/slider/slide-3-2.png')
              img.second.second--sec(src='assets/images/slider/slide-3-3.png')
        .swiper-pagination(data-aos='fade-up')
        a.btn.btn--primary(href='#'): span Смотреть ассортимент
        .blur: +img('animation/blur.svg')
      +img('bottom.svg')
    .house-block
      .relative
        .house__desc.rellax-box(data-aos='fade-up')
          .rellax(data-rellax-speed="2.5")
            h2(data-aos='fade-up') На протяжении 18 лет #[br] #[span &nbsp;заботимся&nbsp;] о вкусе #[br] и качестве нашей #[br] продукции
            p.text__lg(data-aos='fade-up') Не используем химические добавки, #[br] заменители, усилители вкуса или ГМО.
            a.btn.btn--primary(href='#', data-aos='fade-up'): span Миссия
            a.btn.btn--primary(href='#', data-aos='fade-up'): span Производство
        .hidden__md.hidden__lg.hidden__xl(data-aos='fade-up'): +img('house-mob.svg')
        .rellax-box.hidden__xs.hidden__sm
          .rellax(data-rellax-speed="0")
            svg(width='1680' height='179' viewbox='0 0 1680 179' fill='none' xmlns='http://www.w3.org/2000/svg')
              path.cloud-1(d='M1184 61H1027C1027 61 1037.68 39.269 1065.1 43.4944C1065.1 43.4944 1091.55 20.3549 1118.14 39.7384C1118.14 39.7384 1152.86 33.2325 1152.86 53.488C1152.93 53.5551 1184 45.3054 1184 61Z' fill='white')
              path(d='M774 144C813.765 144 846 111.765 846 72C846 32.2355 813.765 0 774 0C734.235 0 702 32.2355 702 72C702 111.765 734.235 144 774 144Z' fill='#F3F0DA')
              path.cloud-2(d='M625 101H779C779 101 778.04 73.2151 744.443 85.1426C744.443 85.1426 719.759 62.3217 696.035 85.1426C696.035 85.1426 671.351 73.2151 656.541 92.1061C656.609 92.1061 628.977 87.142 625 101Z' fill='white')
              path.cloud-4(d='M442.011 88H499C499 88 492.53 73.24 476.7 78.4617C476.7 78.4617 466.307 65.1638 457.635 76.7212C457.635 76.7212 441.529 75.9553 442.011 88Z' fill='white')
              path.cloud-3(d='M1529 107H1582C1582 107 1575.12 92.3003 1563.88 98.958C1563.88 98.958 1554.07 89.4659 1544.74 99.8809C1544.74 99.8809 1531.45 96.1236 1529 107Z' fill='white')
              path.cloud-2(d='M345 178H398C398 178 391.12 163.3 379.879 169.958C379.879 169.958 370.069 160.466 360.737 170.881C360.737 170.881 347.452 167.124 345 178Z' fill='white')
          .rellax(data-rellax-speed="2"): +img('animation/house1.svg')
          .rellax(data-rellax-speed="3"): +img('animation/grass.svg')
    .sert-block.rellax-box
      .left-container.rellax(data-rellax-speed="2")
        .row.between__xs
          .col.col__lg-4.col__md-5.col__xs-12(data-aos='fade-up')
            h4(data-aos='fade-up') Следим за качеством #[span.br-style] и подтверждаем #[span.br-style] это многочисленными #[span.br-style] наградами
            a.inline-link(href='#') Все награды
          .col.col__lg-8.col__md-7.col__xs-12.gallery(data-aos='fade-up')
            a(href='assets/images/sert-1.png', data-jbox-image="gallery1"): +img('sert-1.png')
            a(href='assets/images/sert-2.png', data-jbox-image="gallery1"): +img('sert-2.png')
            a(href='assets/images/sert-3.png', data-jbox-image="gallery1"): +img('sert-3.png')
    .desc-block.desc-block-inner
      .left-container
        .row
          .col.col__md-6.col__xs-12
            h2(data-aos='fade-up') Мир Чистой Линии
          .col.col__md-6.col__xs-12.mobile-flex
            p.text__lg(data-aos='fade-up') Чистая Линия — это не только #[span.br-style] вкусное мороженое.
            br
            p.text__lg(data-aos='fade-up') Это целый мир добрых эмоций #[span.br-style] и веселых развлечений #[span.br-style] для детей и взрослых.
          .col.col__xs-12.visible__sm.visible__xs
            .slider-image
              - for (let i = 1; i < 5; i++)
                - let parent  = ''
                - if(i == 1) parent='active'
                img(src='assets/images/animation/slide-' + i + '.png', alt='', class=parent)
          .col.col__md-6.col__xs-12
            .carousel.swiper-container(data-aos='fade-up')
              .swiper-wrapper
                .swiper-slide
                  h3 Интернет–магазин
                  p.text__lg Познакомьтесь со всеми этапами производства мороженого на нашей фабрике в г. Долгопрудный.
                  a.btn.btn--primary(href='#'): span Подробнее
                .swiper-slide
                  h3 Экскурсия на фабрику «Чистая линия»
                  p.text__lg Познакомьтесь со всеми этапами производства мороженого на нашей фабрике в г. Долгопрудный.
                  a.btn.btn--primary(href='#'): span Подробнее
                .swiper-slide
                  h3 О!Эскимо
                  p.text__lg Познакомьтесь со всеми этапами производства мороженого на нашей фабрике в г. Долгопрудный.
                  a.btn.btn--primary(href='#'): span Подробнее
                .swiper-slide
                  h3 Смотровая площадка PANORAMA360
                  p.text__lg Познакомьтесь со всеми этапами производства мороженого на нашей фабрике в г. Долгопрудный.
                  a.btn.btn--primary(href='#'): span Подробнее
              .swiper-pagination(data-aos='fade-up')
      .rellax-box
        .slider-image.hidden__xs.hidden__sm
          - for (let i = 1; i < 5; i++)
            - let parent  = ''
            - if(i == 1) parent='active'
            img(src='assets/images/animation/slide-' + i + '.png', alt='', class=parent)
    .news-block
      .left-container
        .row.margbot80
          .col.col__lg-6.col__xs-12
            .row.between__xs.middle__xs(data-aos='fade-up')
              .col(data-aos='fade-up')
                h2 Новости
              .col(data-aos='fade-up')
                a.inline-link(href='#') Все новости
        .news-list.row
          .col.col__xl-6.col__lg-4.col__md-6.col__xs-12(data-aos='fade-up')
            +newsList('news-list__item--main')
          - for (let i = 1; i < 3; i++)
            .col.col__xl-3.col__lg-4.col__md-6.col__xs-12(data-aos='fade-up')
              +newsList()


block footer
  include ../partials/_footer.pug
