extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.page-faq
    .left-container
      +title('Интересное', ['Интересное', 'Покупателю'])
      nav.tab-nav.news__tab-nav(data-aos='fade-up')
        .tab-nav__wrapper.excursion__tab-nav-wrapper
          ul.tab-nav__list
            -
              var tabs = [
                {text: 'Вопрос-ответ'},
                {text: 'Отзывы'},
                {text: 'Интересное', active: true},
              ];
            each tab in tabs
              li.tab-nav__item(class = tab.active ? 'tab-nav__item--active' : '')
                a.tab-nav__link(href="#")
                  | #{tab.text}
      .block-aside(data-sticky-container)
        .interests
          .row.moreDetail--js.catalog(data-num='9')
            - for (let j = 1; j < 3; j++)
              - for (let i = 1; i < 7; i++)
                .col.col__xl-4.col__lg-6.col__xs-12.more__item--js(data-aos='fade-up')
                  a.catalog__item(href='#')
                    +img('interests/int-'+i+'.jpg')
                    .catalog-date 20 ноября 2020
                    .catalog-desc: p Друзья, представляем новинку – натуральный ванильный пломбир в глазури из какао-бобов «Ruby»
          .row
            .col.col__xs-12.margtop70(data-aos='fade-up')
              a.btn.btn--default.btn--full.btn-icon(href='#')
                span Показать еще
                i.sprite.sprite--arr-d
        include ../components/_sidebar-in
      .nextBlock
        a.row.between__xs.middle__xs(href='#')
          .col
            p Смотрите также
            h3 Вопрос–ответ
          .col
            .nextBlock--ico
              +img('icons/nextArr.svg')


block footer
  include ../partials/_footer.pug
