extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.page-news
    .left-container
      +title('Мороженое «Ленинградское» производителя «Чистая Линия» — лучшее мороженое по версии Росконтроля', ['Мороженое «Ленинградское» производителя «Чистая Линия» — лучшее мороженое по версии Росконтроля', 'Новости'])
      .block-aside(data-sticky-container)
        .news.typical-page
          .date(data-aos='fade-up') 20 ноября 2020
          .col__xl-10(data-aos='fade-up')
            br
            br
            p Росконтроль опубликовал рейтинг лучшего мороженого в России. Лидирующую позицию занял пломбир компании “Чистая Линия” - “Ленинградское”. По данным Росконтроля, “Ленинградское” соответствует всем требованиям безопасности по проверенным микробиологическим и физико-химическим показателям, ТР ТС 033/2013 и указанному в маркировке ГОСТ 31457-2012 по органолептическим и физико-химическим показателям и не содержит немолочного жира.
            p По данным официальных источников, комплексная экспертиза мороженого Росконтроля включает в себя определение более 20 показателей безопасности и качества: органолептических (вкус, запах, цвет, консистенция, внешний вид), микробиологических (наличие опасных и условно-патогенных бактерий, дрожжевых и плесневых грибов, а также общее содержание микроорганизмов), физико-химических (жирнокислотный состав, наличие фитостеринов — признак наличия жиров немолочного происхождения, массовая доля белка, жира, влаги, сахара).
            p Также выявляется наличие консервантов — сорбиновой и бензойной кислоты, массовая доля общего фосфора, кислотность.
            p К мороженому пломбир, изгоготовленному по ГОСТу, предъявляются высокие требования. В нем не должно быть растительных жиров, жирность должна быть не менее 12%, а содержание сахара – минимум 14%. Если в составе мороженого пломбир по итогам экспертизы выявляются растительные жиры, образец включается в черный список Росконтроля за фальсификацию.
          .slideshow-container.img
            .slideshow.swiper-container(data-aos='fade-up')
              .swiper-wrapper
                - for (let i = 1; i < 4; i++)
                  .swiper-slide
                    +img('interests/big-1.jpg')
            .swiper-tools(data-aos='fade-up')
              .swiper-button.hidden__sm.hidden__xs
                .swiper-prev.nextBlock--ico
                  +img('icons/prevArr.svg')
                .swiper-next.nextBlock--ico
                  +img('icons/nextArr.svg')
              .swiper-pagination
          .row.unionBlock(data-aos='fade-up')
            .col.col__lg-6.col__xs-12
              a.backLink.btn.btn__lg.btn--full(href='#')
                .nextBlock--ico
                  +img('icons/prevArr.svg')
                span Ко всем новостям
            .col.col__lg-6.col__xs-12
              .shareIt(data-aos='fade-up')
                .shareIt-text Поделиться
                .shareIt-soc
                  .social
                    a(href='#')
                      svg(width='41' height='41' viewbox='0 0 41 41' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(opacity='0.2')
                          path.circle(d='M20.0436 0.73628L20.0812 0.73628L20.1184 0.730665C26.414 -0.220926 31.469 1.84428 34.9616 5.5868C38.4664 9.34246 40.4229 14.8174 40.4229 20.6998C40.4229 26.612 38.9699 31.5421 36.1456 34.9845C33.3329 38.4128 29.1137 40.4231 23.4455 40.4231C12.0658 40.4231 1.15315 31.5981 1.15315 19.9578C1.15315 14.0814 3.06403 9.28457 6.35579 5.95856C9.64728 2.63282 14.3603 0.73628 20.0436 0.73628Z' stroke='#5CA8C0')
                        path(d='M20.7354 25.9848H21.8017C21.8017 25.9848 22.141 25.9357 22.2864 25.7883C22.4318 25.6408 22.4318 25.2968 22.4318 25.2968C22.4318 25.2968 22.4318 23.8717 23.0619 23.6752C23.692 23.4786 24.5644 25.0511 25.4369 25.69C26.1154 26.1322 26.6001 26.034 26.6001 26.034L28.9751 25.9848C28.9751 25.9848 30.1868 25.8865 29.6052 24.9037C29.5567 24.8054 29.2659 24.1666 27.8603 22.8398C26.4062 21.4638 26.6001 21.6604 28.345 19.2524C29.4113 17.7782 29.8475 16.8936 29.7021 16.5005C29.5567 16.1565 28.7812 16.2548 28.7812 16.2548H26.1154C26.1154 16.2548 25.9215 16.2056 25.7761 16.3039C25.6307 16.4022 25.5338 16.5988 25.5338 16.5988C25.5338 16.5988 25.0976 17.729 24.5644 18.7119C23.4012 20.7267 22.9165 20.8741 22.7226 20.7267C22.2864 20.481 22.3833 19.5964 22.3833 18.9576C22.3833 16.9919 22.6741 16.1565 21.8017 15.9599C21.5109 15.9108 21.317 15.8616 20.5415 15.8125C19.5721 15.8125 18.7966 15.8125 18.3604 16.0582C18.0696 16.2056 17.8273 16.5496 17.9727 16.5496C18.1665 16.5496 18.5543 16.6479 18.7482 16.9428C19.039 17.3359 18.9905 18.1713 18.9905 18.1713C18.9905 18.1713 19.1359 20.481 18.6028 20.7758C18.2635 20.9724 17.7788 20.5792 16.7125 18.7119C16.1793 17.7782 15.7431 16.7462 15.7431 16.7462C15.7431 16.7462 15.7431 16.5496 15.5977 16.4513C15.4038 16.3039 15.21 16.3039 15.21 16.3039H12.6896C12.6896 16.3039 12.3018 16.3039 12.1564 16.5005C12.011 16.6479 12.1564 16.9428 12.1564 16.9428C12.1564 16.9428 14.1436 21.6112 16.3732 23.97C18.4089 26.1322 20.7354 25.9848 20.7354 25.9848Z' fill='#5CA8C0')
                    a(href='#')
                      svg(width='42' height='41' viewbox='0 0 42 41' fill='none' xmlns='http://www.w3.org/2000/svg')
                        g(opacity='0.2')
                          path.circle(d='M21.0129 0.73628L21.0505 0.73628L21.0876 0.730665C27.3832 -0.220926 32.4383 1.84428 35.9308 5.5868C39.4357 9.34246 41.3921 14.8174 41.3921 20.6998C41.3921 26.612 39.9392 31.5421 37.1148 34.9845C34.3021 38.4128 30.0829 40.4231 24.4147 40.4231C13.035 40.4231 2.12239 31.5981 2.12239 19.9578C2.12239 14.0814 4.03327 9.28457 7.32503 5.95856C10.6165 2.63282 15.3296 0.73628 21.0129 0.73628Z' stroke='#5CA8C0')
                        path(d='M24.1999 15.5789V17.16H27.0049L26.6487 19.9979H24.1999V27.9035H20.3707V19.9979H18.6343V17.16H20.3707V15.5789C20.3707 15.5789 20.0591 12.5788 23.1758 12.0923H27.0049V14.6464H25.2684C25.2684 14.6059 24.2889 14.5653 24.1999 15.5789Z' fill='#5CA8C0')
        include ../components/_sidebar
      .sameBlock(data-aos='fade-up')
        .visible__sm.visible__xs
          h2 Похожие статьи
          br
        .row.catalog
          .col.col__xl-3.col__md-3.col__xs-12.hidden__sm.hidden__xs
            h2 Другие новости
          - for (let j = 1; j < 4; j++)
            .col.col__xl-3.col__md-3.col__xs-12
              +newsList()


block footer
  include ../partials/_footer.pug
