extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.page-recipes
    .left-container
      +title('Рецепты', ['Рецепты'])
      .catalogFilter--btn.btn-icon.catalogFilter--js
        span Фильтры
        +img('icons/plus-sq.svg')
      .catalogFilter
        .catalogFilter__item
          select.select.select-main(data-title='Тип блюда')
            option(value='filter-1') Все
            option(value='filter-2') Завтраки
            option(value='filter-3') Обеды
            option(value='filter-4') Ужины
        .catalogFilter__item
          select.select.select-main(data-title='Продукт')
            option(value='filter-1') Все
            option(value='filter-2') Завтраки
            option(value='filter-3') Обеды
            option(value='filter-4') Ужины
        .catalogFilter__item
          select.select.select-main(data-title='Время готовки')
            option(value='filter-1') Все
            option(value='filter-2') Завтраки
            option(value='filter-3') Обеды
            option(value='filter-4') Ужины
        .catalogFilter__item.catalogFilter__item--apply
          button.btn.btn--primary.btn--full
            span Применить
        .catalogFilter__item
          .btn.btn--info.btn__lg.btn-icon.btn--full.reset-filter--js
            +img('icons/rotate-cw.svg')
            span Сбросить
      .block-aside(data-sticky-container)
        .interests
          .row.moreDetail--js.catalog(data-num='9')
            -
              let items = [
                'Творожные сырники',
                'Яблочный крамбл с медовым пломбиром',
                'Фирменные Омолоко-панкейки',
                'Омлет с творогом',
                'Авакадо запеченное с яйцом <br>и сыром',
                'Картофель в сметане',
              ]
            - for (let i = 0; i < 2; i++)
              each item, index in items
                .col.col__xl-4.col__lg-6.col__xs-12.more__item--js(data-aos='fade-up')
                  a.catalog__item(href='#')
                    .img
                      .img__image
                        span
                          |30 #[small мин]
                        +img('interests/int-' + (index + 1) + '.jpg')
                    .catalog-desc
                      |!{item}
                    .catalog-tag
                      |Завтраки
          .row
            .col.col__lg-6.col__xs-12.centered-block(data-aos='fade-up')
              a.btn.btn--default.btn--full.btn-icon(href='#')
                span Показать еще
                i.sprite.sprite--arr-d
        include ../components/_sidebar-recipes

block footer
  include ../partials/_footer.pug
