extends ../layouts/master.pug

block header
  include ../partials/_header.pug

block content
  main.page-faq.page-reviews
    .left-container.left-container--tab-nav
    .left-container
      +title('Отзывы', ['Отзывы', 'Покупателю'])
      nav.tab-nav.tab-nav--alt.tab-nav--content-fit.news__tab-nav(data-aos='fade-up')
        .tab-nav__wrapper.excursion__tab-nav-wrapper
          ul.tab-nav__list
            -
              var tabs = [
                {text: 'Вопрос-ответ'},
                {text: 'Отзывы', active: true},
                {text: 'Интересное'},
              ];
            each tab in tabs
              li.tab-nav__item(class = tab.active ? 'tab-nav__item--active' : '')
                a.tab-nav__link(href="#")
                  | #{tab.text}
      .block-aside(data-sticky-container)
        .faq
          .moreDetail--js
            -
              let items = [
                {
                  title: 'Игорь Алексеевич'
                },
                {
                  title: 'Сергей Жильцов'
                },
                {
                  title: 'Анонимный'
                },
                {
                  title: 'Светлана'
                },
                {
                  title: 'Игорь Алексеевич'
                },
                {
                  title: 'Сергей Жильцов'
                },
                {
                  title: 'Анонимный'
                },
              ]
            .accordion
              each item in items
                .accordion__item.accordion__item--sm.more__item--js(data-aos='fade-up')
                  .accordion-head
                    .date 25.11.2020
                    span= item.title
                  .accordion-body: div Мороженое – детям! Детям самое лучше и вкусное! Все начиналось в Китае. Первый десерт из драгоценного снега, льда и фруктов доводилось подавать только императорам. #[br] Еще великий царь Соломон говорил: замороженный фруктовый сок бодрит, придает сил во время тяжёлого труда. Это был один из первых прототипов фруктового льда. #[br] А за молочное мороженое мы должны сказать спасибо поварам из Франции. Французский прототип мороженого могли позволить себе только аристократы высших сословий. #[br] В России мороженое вплоть до ХХ века было исключительно лакомством для богатых, и лишь в начале 30-х годов нарком продовольствия СССР Анастас Микоян снял с него клеймо буржуазного блюда и официально назвал "массовым продуктом повседневного питания". #[br] Ну а сегодня Кирюха поднимает себе настроением мороженым Чистая линия. Решили не заморачиваться стаканчиками и заказали лоток пломбира ванильного "Радуга" от Чистой линии.
            .margtop70(data-aos='fade-up')
              a.btn.btn--default.btn--full.btn-icon(href='#')
                span Показать еще
                i.sprite.sprite--arr-d
        include ../components/_sidebar-rw
      .nextBlock
        a.row.between__xs.middle__xs(href='#')
          .col
            p Смотрите также
            h3 Интересное
          .col
            .nextBlock--ico
              +img('icons/nextArr.svg')


block footer
  include ../partials/_footer.pug
