//
// Mixins -> Modules
// ------------------------------------


@mixin gradientAnimation( $start, $end, $transTime ){
  background-size: 100%;
  background-image: linear-gradient($start, $end);
  position: relative;
  z-index: 10;
  &:before {
    //background-image: linear-gradient($end, $start);
    background: linear-gradient(180deg, #F58A90 0%, #DB4148 100%);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    opacity: 0;
    border-radius: 60px;
    width: 100%;
    z-index: -10;
    transition: opacity $transTime;
    box-shadow: 0px 6px 15px rgba(192, 42, 50, 0.3);
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

//
// border-radius
//
@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

//
// padding / margin
//
@mixin padtop($top) {
  padding-top: $top;
}
@mixin padbot($bottom) {
  padding-bottom: $bottom;
}
@mixin margright($right) {
  margin-right: $right;
}
@mixin margbot($bottom) {
  margin-bottom: $bottom;
}
@mixin margtop($top) {
  margin-top: $top;
}


//
// responsive utilities
//
@mixin responsive-visibility($parent) {

  @if $use-flexbox == true {
    #{$parent} {
      display: block;
    }
  } @else {
    #{$parent} {
      display: flex;
    }
  }
}
@mixin responsive-invisibility($parent) {
  #{$parent} {
    display: none;
  }
}
