- const YMAPS_API_KEY = '6e05a1e4-9f12-4e86-a1b0-93857b7da078'

//- Custom Configuration
block config
  - var adaptive = true // choose website type

//- Master layout

include ../mixins/_mixins.pug

doctype html
html(lang='ru')
  head
    meta(charset="UTF-8")

    block title
      title Чистая линия
    <!--[if IE]>
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    <![endif]-->
    if adaptive === true
      meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="canonical" href="URL")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")

    //- Basic Seo

    block basicSeo
      meta(name='description' content='Index page')
      meta(name='keywords', content='index, page')
      meta(name='author' content='')

    //- Twitter
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='')
    meta(name='twitter:image', content='')
    meta(name='twitter:description', content='')

    //- Facebook
    meta(property='og:url', content='')
    meta(property='og:title', content='')
    meta(property='og:description', content='')
    meta(property='og:image' content="assets/images/opengraph.jpg")
    meta(property='og:type', content='website')

    // iOS
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="Чистая линия")
    link(rel="apple-touch-icon", href="images/favicons/apple-touch-icon.svg")

    // Android
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="theme-color", content="#17A3D0")

    // Windows
    meta(name="msapplication-TileColor", content="#17A3D0")

    //- Preload fonts
    //link(type='font/woff', href=require('font'), rel='preload', as='font', crossorigin)

    link(rel="shortcut icon", href="assets/favicon.svg")

    block pageName
      - var pageName = "main"

  body(class="page-" + pageName)
    <!--[if lt IE 10]>
    p.browsehappy
      | Данный сайт построен на передовых, современных технологиях и не поддерживает Ваш браузер. Настоятельно рекомендуем выбрать и установить любой из &nbsp;
      a(href="http://browsehappy.com/", target="_blank") современных браузеров.
      |  Это бесплатно и займет всего несколько минут.
    <![endif]-->

    .loading

    //- Header
    block header

    //- block content
    .main
      block content

    //- Footer
    block footer

    //- block scripts
    block scripts
      script(src="https://api-maps.yandex.ru/2.1/?apikey=6e05a1e4-9f12-4e86-a1b0-93857b7da078&lang=ru_RU", type="text/javascript")
