.history
  - const slidesCount = 10;
  -
    const slides = [
      {
        year: 2002,
        text: 'Меньше чем через год после образования производство «Чистая Линия» переехало на базу колхоза «Красная Нива» в г.Долгопрудный.',
      },
      {
        year: 2005,
        text: 'А еще через три года  – на территории колхоза «Красная Нива» вырос собственный молокоперерабатывающий завод.',
      },
      {
        year: 2007,
        text: 'Новый завод увеличил производительность компании до 10 тыс. тонн тана в год. К 2007 году руководство приняло решение о производстве обезжиренного продукта. Большие объемы сливок, которые оставались в результате изготовления тана, оказывались неиспользованными и зачастую выбрасывались. Тогда и пришла идея делать мороженое. Первым продуктом стало эскимо на палочке со вкусом, похожим на мороженое из детства. Упаковку сделали простой и ностальгической – эскимо завернули в серебристую фольгу.',
      },
      {
        year: 2008,
        text: 'В 2008 году компания «Чистая линия» продала 2 тыс. тонн мороженого. На тот момент оно занимало 50% всех объемов продаж компании.',
      },
      {
        year: 2016,
        text: '12 марта 2016 года были запущены экскурсии на фабрику мороженого. С тех пор каждый желающий может увидеть своими глазами этапы производства нашей продукции на фабрике в г.Долгопрудный.<br>В сентябре 2016 года было запущено производство молока.<br>В 2016 году компания «Чистая Линия» произвела 10 тыс. тонн мороженого и вошла в топ-15 производителей мороженого в России.',
      },
      {
        year: 2017,
        text: 'В 2017 году  руководство бренда запустило новый проект «О!Эскимо» (гиперссылка) — мини-производство мороженого в формате острова в торговом центре. На сегодняшний день в России насчитывается более 500 точек. На каждой демонстрируется процесс глазирования мороженого.',
      },
      {
        year: 2018,
        text: '21 апреля 2018 года совместно со смотровой площадкой на 89-м этаже башни «Федерация», компания «Чистая Линия» открыла мини-фабрику по производству мороженого, где все посетители площадки могут понаблюдать за процессом производства, а также угоститься мороженым.<br>Основываясь на многолетнем опыте изготовления молока, в 2018 году было расширено производство молочной продукции для интернет-магазина (гиперссылка).',
      },
      {
        year: 2019,
        text: 'В 2019 году компания запустила мобильное приложение «Омолоко» для реализации онлайн - заказов мороженого, расширенной линейки молочной продукции и фирменного шоколада.',
      },
      {
        year: 2020,
        text: 'На сегодняшний день «Чистая линия» - лидер среди производителей мороженого в Москве и Московской области. Ассортимент бренда насчитывает более 100 видов мороженого, высокое качество которого ежегодно подтверждает система независимого контроля «Росконтроль».<br>Вся продукция компании «Чистая Линия» производится с использованием исключительно натуральных компонентов, не содержит растительных жиров, красителей и консервантов и в соответствии с ГОСТом.',
      },
    ];
  //- part-1
  .history__slider-wrapper
    //- swiper
    .swiper-container.history__slider
      .swiper-wrapper
        each slide in slides
          .swiper-slide.history__slide
            p.history__slide-text
              |!{slide.text}
    //- control
    form.history__control
      button(type='button').history__button.history__button--prev
        img(src='assets/images/icons/prevArr.svg').history__button-img
      button(type='button').history__button.history__button--next
        img(src='assets/images/icons/prevArr.svg').history__button-img
  //- part-2
  .history__pagination-wrapper
    //- pagination
    form.history__pagination
      each slide in slides
        button(type='button').history__pagination-item
          |#{slide.year}