nav.navbar
    ul.main-menu
      li.main-menu__item.main-menu__item--active: a.main-menu__link(href='#') Молочная продукция
      li.main-menu__item: a.main-menu__link(href='#') Мороженое
      li.main-menu__item: a.main-menu__link(href='#') Шоколад
    +menu(menu)
