aside.aside
    .sticky(data-margin-top="40")
        .contacts-block(data-aos='fade-up')
            h4 Контакты для СМИ
            h5 Пресс-служба
            div: a.icon-link(href='tel:79251085090')
                +img('icons/phone.svg')
                span +79251085090
            div: a.icon-link(href='mailto:presschl1@gmail.com')
                +img('icons/message.svg')
                span presschl1@gmail.com
        .sign-block(data-aos='fade-up')
            h4 Подписаться на новости
            form(action='' method='POST')
                .form__group: +fieldInput('email', 'email', 'email', '', 'E–mail', true)
                .checkbox.form__group
                    input(type="checkbox", id='sign', required)
                    label(for='sign') Согласен на обработку персональных данных в соответствии с #[a(href='#') политикой конфиденциальности]
                    .control-error
                button.btn.btn--primary.btn__sm.btn--full.form--js(type='submit'): span Подписаться
