aside.aside
    .sticky
        .sign-block(data-aos='fade-up')
            h4 Подписатсья на рецепты
            form(action='' method='POST')
                .form__group: +fieldInput('email', 'email', 'email', '', 'E–mail', true)
                .checkbox.form__group
                    input(type="checkbox", id='sign')
                    label(for='sign') Согласен на обработку персональных данных в соответствии с #[a(href='#') политикой конфиденциальности]
                button.btn.btn--primary.btn__sm.btn--full(type='submit') Подписаться
