aside.aside
  .sticky(data-margin-top="40")
    .sign-block(data-aos='fade-up')
      .form-request
        h4 Задать свой вопрос
        form(action='' method='POST')
          .form__group: +fieldInput('email', 'email', 'email', '', 'E–mail', true)
          .form__group: +fieldTextarea('theme', 'Тема вопроса', '5', true)
          .checkbox.form__group
            input(type="checkbox", id='sign', required)
            label(for='sign') Согласен на обработку персональных данных в соответствии с #[a(href='#') политикой конфиденциальности]
            .control-error
          button.btn.btn--primary.btn__sm.btn--full.form--js(type='submit'): span Отправить
      .form-response
        .inner
          h4 Спасибо, мы получили ваш вопрос и опубликуем его на этой странице.
          button.btn.btn--primary.btn__sm.btn--full.reset--js(type='submit'): span Отправить еще
