aside.aside
    .sticky(data-margin-top="40")
        .img-block.visible__lg.visible__xl: +img('interests/int-1.jpg')
        .sign-block(data-aos='fade-up')
            h4 Подписаться на новые статьи
            form(action='' method='POST')
                .form__group: +fieldInput('email', 'email', 'email', '', 'E–mail', true)
                .checkbox.form__group
                    input(type="checkbox", id='sign')
                    label(for='sign') Согласен на обработку персональных данных в соответствии с #[a(href='#') политикой конфиденциальности]
                button.btn.btn--primary.btn__sm.btn--full.form--js(type='submit'): span Подписаться
