svg(width='139' height='146' viewbox='0 0 139 146' fill='none' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink')
  path(d='M25.9925 65.1534C31.7311 46.6541 25.9925 23.7429 48.9257 8.7259C89.1923 -17.6413 151.879 18.4105 136.669 81.0803C119.22 152.98 2.93017 166.129 0.0676828 115.665C-1.31042 91.3696 18.7314 88.5609 25.9925 65.1534Z' fill='white')
  rect(x='15' y='22' width='102' height='102' fill='url(#pattern0)')
  defs
    pattern#pattern0(patterncontentunits='objectBoundingBox' width='1' height='1')
      use(xlink:href='#image0' transform='scale(0.00980392)')
    image#image0(width='102' height='102' xlink:href='assets/images/festival/milkshake.svg')
